<div class='navbar'>
    <ul class='nav-list'>
        <h1 id='nav-title'>Guitars</h1>
        <li><a class='mid' href='/posts/guitars/vintage'>Vintage</a></li>
        <li><a class='mid' href='/posts/guitars/modern'>Modern</a></li>
        <li><a class='mid' href='/posts/guitars/solidbody'>Solid Body</a></li>
        <li><a class='mid' href='/posts/guitars/hollowbody'>Hollow Body</a></li>
        <li><a class='mid' href='/posts/guitars/below1000'>Below $1000</a></li>
        <h1 id='nav-title'>Amps</h1>
        <li><a class='mid' href=''>Solid State</a></li>
        <li><a class='mid' href=''>Tube</a></li>
        <li><a class='mid' href=''>Below $1000</a></li>
    </ul>
</div>