<nav>
    <h1 id='title'>Gear Guru</h1>
  <a class='top' href=''>GUITARS</a>
  <a class='top' href=''>AMPS</a>
  <a class='top' href='/'>HOME</a>
  <a class='top' href='users/login'>LOG IN</a>
</nav>
