<!DOCTYPE html>
<html>
  <head>
    <title>Gear Guru</title>
    <%- include('partials/styles.ejs')  %> 
  </head>
  <body>
    <%- include('partials/sideNav.ejs') %>
    <div class='main'>
      <%- include('partials/topNav.ejs') %>

      <div class='sell-btn'>
        <a class='sell' href='/new'>SELLING?</a>
      </div>
      
      <div class='h2-text'>
        <h2>The largest growing community of new/used guitars and amps.</h2>
        <h3>Find your dream gear, <span>today.</span></h3>
      </div>

    </div>
  </body>
</html>
