<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/styles.ejs')  %> 
  </head>
  <body>
    <%- include('partials/sideNav.ejs') %>
    <div class='main'>
      <%- include('error.ejs') %>
      <%- include('partials/topNav.ejs') %>

      <div class='h2-text'>
        <h2>Login</h2>
      </div>

      <form action='/users/login' method='POST'>
        <div class='form-group'>
            <input type='email' id='post-label' name='email' placeholder='Enter E Mail' required/>
        </div>
        <div>
            <input type='password' id='post-label' name='password' placeholder='Enter Password' required/>
        </div>
        <button type='submit'id='post-btn'>Login</button>
    </form>
    <a id='signup' href='/users/register'>Dont have an account? Sign Up Now!</a>

    </div>
  </body>
</html>